<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 p-5">
                <img alt="E-commerce" src="/images/ecom.png" width="100%" height="400px">
            </div>
            <div class="col-md-6 p-5">
                <div class="card border border-3 border-info rounded-4 shadow-lg"> <!-- No extra padding inside card -->
                    <div class="card-header bg-info text-white text-center">
                        <p class="fs-4">Reset Password</p>


                        <!--<div th:if="${param.logout}" class="alert alert-success">
                            Logout Successfully

                        </div>-->







                        <!-- Restored original heading -->
                        <th:block th:if="${success}">
                            <p class="text-success fw-bold" th:text="${success}"></p>
                        </th:block>
                        <th:block th:if="${error}">
                            <p class="text-danger fw-bold" th:text="${error}"></p>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/reset-password" method="post">
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                <input type="password" class="form-control rounded-3" name="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" class="form-control rounded-3">
                            </div>
                            <input type="hidden" th:value="${token}" name="token">
                            <button type="submit" class="btn btn-info w-100 text-white">Reset Password</button>
                        </form>



            </div>
        </div>
    </div>
</section>
</body>
</html>
